header nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nav-menu {
  width: 100%;
}

.nav-menu ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px 0;
}
.nav-menu ul li a {
  padding: 10px;
}

.nav-menu ul li a:hover {
  background-color: azure;
  color: black;
}

.main-starting {
  padding: 25px;
  text-align: center;
  margin: 0 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-card .cards {
  display: grid;

  grid-template-columns: repeat(1, 1fr);
  margin: 50px 0;
  padding: 0;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 25px;
}
.hero-img img {
  border-radius: 5px;
  width: 350px;
}
.hero-data {
  width: 100%;
}
.hero-btn-div {
  margin: 20px 0;
}

.pricing-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 20px 30px;
}
.pricing-card {
  padding: 0 0 20px 0;
}
.main-pricing-title {
  padding: 0 20px;
}
.services {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services-items {
  display: grid;

  grid-template-columns: repeat(1, 1fr);

  grid-auto-rows: auto;

  grid-gap: 1rem;
  text-align: left;
}
.services-data {
  width: 100%;
  padding: 35px;
}
.services-info {
  width: 60%;
  padding: 22px;
}
.services-item {
  text-align: left;
}
.create-account-desc {
  margin: 20px 10px;
}
.create-account {
  margin: 0 25px;
  text-align: center;
}

.faqs-title {
  text-align: center;
  margin: 50px 20px;
}

.faqs {
  margin: 50px 25px;
}

.faqs-questions {
  display: grid;

  grid-template-columns: repeat(1, 1fr);

  grid-auto-rows: auto;

  grid-gap: 1rem;
  text-align: left;
}
.news-update {
  text-align: center;
  margin: 50px 20px;
}

.news {
  margin: 50px 25px;
}

.news-cards {
  display: grid;

  grid-template-columns: repeat(1, 1fr);
}

.news-card-body {
  padding: 0 18px 0 18px;
}

.news-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 300px;
}

footer {
  margin: 80px 25px;
}

.footer-info-section {
  display: flex;

  flex-direction: column;
}

.footer-details {
  width: 100%;
}

.footer-menu {
  width: 100%;
}
.footer-menu-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.footer-menu-items ul li {
  margin: 15px 0;
}
